body {
  margin: auto;
  max-width: 50em;
  font-family: sans-serif;
  background: #191b30;
  color: #ffffff;
}

.user-info {
  position: fixed;
  top: 5px;
  right: 20px;
}

.theme-toggle-fixed {
  position: fixed;
  top: 65px;
  right: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: #ffffff;
}

.theme-icon {
  width: 35px;
  height: 35px;
}

header {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  height: 60px;
  width: auto;
  margin-bottom: 20px;
}

h1, h2, {
  color: #ffffff;
  margin-bottom: 0.5em;
}

h3 {
  color: #ffffff;
  margin-bottom: 0;
}

a {
  color: #68d6b0;
  text-decoration: none;
  font-weight: 600;
}

a:hover {
  text-decoration: underline;
  color: #45b892;
}

.nav-box a {
  color: #e3f6ff;
  background-color: #20344d;
  border-radius: px;
  text-decoration: none;
  font-weight: 600;
  padding: 0.4em 1.2em;
}

.nav-box a:hover {
  background-color: #2e4c6d;
  color: #ffffff;
}

.comment-list {
  list-style-type: none;
  padding-left: 0;
  margin-top: 10px;
}

.comment_box {
  background-color: #20344d;
  padding: 10px 15px;
  margin-bottom: 10px;
}

p, li {
  color: #d0d3eb;
}

ul {
    margin-top: 3px;
}


body.light-mode {
  background: #f7f8fa;
  color: #000000;
}

body.light-mode h1, 
body.light-mode h2, 
body.light-mode h3 {
  color: #000000;
}

body.light-mode a {
  color: #2c614f;
}

body.light-mode a:hover {
  color: #005f6f;
}

body.light-mode .nav-box a {
  color: #20344d;
  background-color: #b7d7e6;
}

body.light-mode .nav-box a:hover {
  background-color: #89bcd3;
  color: #000000;
}

body.light-mode p,
body.light-mode li {
  color: #000000;
}