<!DOCTYPE html>
<html>

<head>
  <title>Lintuhavainnot</title>
</head>

<body>


  <p>
    <a href="/new_item">Uusi havainto</a>
    <a href="/search_item">Etsi havaintoja</a>
  </p>

  <h1>Viimeisimmät lintuhavainnot</h1>
  <ul>
      {% for item in items %}
      <li><a href="/item/{{ item.id}}">{{ item.species }}</a></li>
      {% endfor %}
  </ul>

  {% if session.username %}
  <p>
    Olet kirjautunut nimimerkillä {{ session.username }}, käyttäjänumerosi on {{session.user_id}}
    <br>
    <a href="/logout">Kirjaudu ulos</a>
  </p>
  {% else %}
  <p>
    <a href="/login">Kirjaudu sisään</a>
    <a href="/register">Luo käyttäjä</a>
  </p>
  {% endif %}



</body>

</html>