{% extends "layout.html" %}

{% block title %}Naakka - lintuhavaintopalvelu{% endblock %}

{% block content %}
<h2>Viimeisimmät lintuhavainnot</h2>

{% if grouped %}
  {% for date, items in grouped.items() %}
    <h3>{{ date }}</h3>
    {% if items %}
      <ul>
        {% for item in items %}
          <li>
            <a href="/item/{{ item.id }}">{{ item.species }}</a>,
            {{ item.amount }}kpl,
            {{ item.municipality }}
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p>Ei havaintoja.</p>
    {% endif %}
  {% endfor %}
{% else %}
  <p>Ei havaintoja.</p>
{% endif %}

{% if total_pages > 1 %}
  <div class="pagination">
    {% if page > 1 %}
      <a href="/?page={{ page - 1 }}">« Edellinen</a>
    {% endif %}

    {% if page < total_pages %}
      <a href="/?page={{ page + 1 }}">Seuraava »</a>
    {% endif %}
  </div>
{% endif %}


{% endblock %}