{% extends "layout.html" %}

{% block title %}Naakka - lintuhavaintopalvelu{% endblock %}

{% block content %}
<h2>Tietoa sovelluksesta</h2>

<p><b>Naakka</b> on lintuhavaintojen kirjaamiseen ja tarkasteluun tarkoitettu sovellus, joka on luotu opiskelijaprojektina Helsingin yliopiston Tietokannat ja web-ohjelmointi -kurssin aikana. 
    <br><br>
    Sovelluksella voit:</p>
    <ul>
    <li>Kirjata rekisteröityneenä käyttäjänä tekemiäsi lintuhavaintoja ja lisätä niihin halutessasi kuvia ja kommentteja jos kaipaat apua esimerkiksi lajin, sukupuolen tai iän määrittelemisessä.</li>
    <li>Kommentoida muiden kirjaamia havaintoja.</li>
    <li>Etsiä havaintoja lajin tai havaintopaikan perusteella.</li>
    </ul>
    <p>Havaintoja kirjatessa laji valitaan Suomessa tavatuista lintulajeista ja havaintopaikan valinta on rajattu Suomen alueelle.<br><br>
    Apua lintujen tunnistamiseen löydät internetissä esimerkiksi <a href="https://luontoportti.com/?identification=true&sid=3">Luontoportista</a>.
    </p>
{% endblock %}