<!DOCTYPE html>
<html>

<head>
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="/static/main.css">
</head>

<body>
  <header>
    <a href="/">
      <img src="{{ url_for('static', filename='images/sitelogo.svg') }}" alt="Naakka logo" class="logo">
    </a>
  </header>


  {% if session.username %}
  <p class="user-info">
    Olet kirjautunut nimimerkillä {{ session.username }}
  </p>
  {% endif %}

  <nav class="nav-box">
    <a href="/search_item">Etsi havaintoja</a>

    {% if session.user_id %}
      <a href="/new_item">Uusi havainto</a>
      <a href="/logout">Kirjaudu ulos</a>
    {% else %}
      <a href="/login">Kirjaudu sisään</a>
      <a href="/register">Luo käyttäjä</a>
    {% endif %}
  </nav>

  <main>
    {% block content %}{% endblock %}
  </main>

</body>
</html>
