<!DOCTYPE html>
<html>

<head>
  <title>Uusi havainto</title>
</head>

<body>
    <h1>Uusi havainto</h1>
  <form action="/create_item" method="post">
    <p>
      Laji: <br />
      <input type="text" name="species" />
    </p>
    <p>
        Lukumäärä <br />
      <input type="text" name="amount" size="8" /> kpl
    </p> 
    <p>
        Havaintopaikka <br />
      <input type="text" name="place" />
    </p>
    <p>
        Kaupunki/kunta <br />
      <input type="text" name="city" />
    </p>
    <p>
        Kuvaus: <br />
    <textarea name="description" rows="8" cols="40"></textarea>
    </p>
    <input type="submit" value="Kirjaa havainto" />
  </form>
</body>

</html>