<!DOCTYPE html>
<html>

<head>
  <title>Uusi havainto</title>
</head>

<body>
    <h1>Uusi havainto</h1>
  <form action="/create_item" method="post">
    <p>
      Laji: <br />
      <input list="species" name="species" required />
      <datalist id="species">
        {% for specie in species %}
          <option value="{{ specie }}"></option>
        {% endfor %}
      </datalist>
    </p>
    <p>
    Päivämäärä: <br />
    <input type="date" name="date" required>
    </p>
    <p>
        Lukumäärä <br />
      <input type="text" name="amount" size="8" pattern="[1-9][0-9]{0,9}" required /> kpl
    </p> 
    <p>
      Paikkakunta: <br />
      <input list="municipalities" name="municipality" required />
      <datalist id="municipalities">
        {% for municipality in municipalities %}
          <option value="{{ municipality }}"></option>
        {% endfor %}
      </datalist>
    </p>
    <p>
        Havaintopaikka <br />
      <input type="text" name="place" maxlength="50" required />
    </p>
    <p>
        Kuvaus: <br />
    <textarea name="description" rows="8" cols="40" maxlength="400"></textarea>
    </p>
    <input type="submit" value="Kirjaa havainto" />
  </form>
</body>

</html>