{% extends "layout.html" %}

{% block title %}Rekisteröidy{% endblock %}

{% block content %}
<h2>Rekisteröidy</h2>

  {% if error %}
    <div class="error-box">{{ error }}</div>
  {% endif %}
  <form action="/create" method="post">
    <p>
      Tunnus: <br />
      <input type="text" name="username" />
    </p>
    <p>
      Salasana: <br />
      <input type="password" name="password1" />
    </p>
    <p>
      Salasana uudestaan: <br />
      <input type="password" name="password2" />
    </p>
    <input type="submit" value="Luo tunnus" />
  </form>
{% endblock %}