{% extends "layout.html" %}

{% block title %}Etsi havaintoja{% endblock %}

{% block content %}
<h2>Etsi havaintoja</h2>
<form action="/search_item" method="GET" >
    <p>
        Hakusana: <input type ="text" name="query" value="{{ query }}" >
    </p>
    <input type="submit" value="Hae">
</form>

{% if query %}
<h2>Tulokset</h2>

<ul>
    {% for item in results %}
    <li><a href="/item/{{ item.id }}">{{ item.species }}</a>, {{ item.amount }}kpl, {{ item.place }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endblock %}