{% extends "layout.html" %}

{% block title %}Etsi havaintoja{% endblock %}

{% block content %}
<p>Voit etsiä havaintoja esimerkiksi lajin tai havaintopaikan perusteella.</p>
<form action="/search_item" method="GET" >
    <p>
        Hakusana: <input type ="text" name="query" value="{{ query }}" >
    </p>
    <input type="submit" value="Hae">
</form>

{% if query %}
<h2>Tulokset</h2>

<ul>
    {% for item in results %}
    <li><a href="/item/{{ item.id }}">{{ item.species }}</a> ({{ item.amount }}kpl) paikassa {{ item.place }}, {{ item.municipality }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endblock %}