{% extends "layout.html" %}

{% block title %}{{ item.species }}{% endblock %}

{% block content %}
    <h2>{{ item.species }}</h2>
  {% if session.user_id ==item.user_id %}
  <p>
    <a href="/images/{{ item.id }}">Kuvat</a> |
    <a href="/edit_item/{{ item.id }}">Muokkkaa</a> |  
    <a href="/remove_item/{{ item.id }}">Poista</a>
    </p>

  {% endif %}

  {% for image in images %}
  <img src="/image/{{ image.id }}"
  {% endfor %} <br>

    <p>Päivämäärä: {{ item.date | datetimeformat }}</p>
    <p>Määrä: {{item.amount}}kpl</p>
    <p>Paikkakunta: {{item.municipality}}</p>
    <p>Havaintopaikka: {{item.place}}</p>
    {% if item.description %}
    <p>Kuvaus/kommentti: {{item.description}}</p>
    {% endif %}
    <br>
    <p>Havainnon kirjasi: <a href="/user/{{ item.user_id }}">{{item.username}}</a></p>
{% endblock %}