<!DOCTYPE html>
<html>

<head>
  <title>{{ item.species }}</title>
</head>

<body>
    <h1>{{ item.species }}</h1>
  {% if session.user_id ==item.user_id %}
  <p><a href="/edit_item/{{ item.id }}">Muokkkaa</a>  
    <a href="/remove_item/{{ item.id }}">Poista</a>
    </p>

  {% endif %}

    <p>Määrä: {{item.amount}}</p>
    <p>Kunta: {{item.municipality}}</p>
    <p>Havaintopaikka: {{item.place}}</p>
    <p>Kuvaus/kommentti: {{item.description}}</p>
    <br>
    <p>Havainnon tekijä: <a href="/user/{{ item.user_id }}">{{item.username}}</a></p>
    <br>
    <a href="/">Takaisin etusivulle</a>

</body>

</html>