<!DOCTYPE html>
<html>

<head>
  <title>Käyttäjä {{ user.username }}</title>
</head>

<body>
    <h1>Käyttäjä {{ user.username }}</h1>
    <p>
        Käyttäjä on kirjannut yhteensä {{ items | count }} havaintoa.
    </p>
    <h2>Havainnot</h2>
    <ul>
        {% for item in items %}
        <li><a href="/item/{{ item.id }}">{{ item.species}}</a>, {{ item.amount }}kpl, {{ item.municipality }}</li>
        {% endfor %}
    </ul>
    <p>
    <a href="/">Takaisin etusivulle</a>
    </p>
</body>

</html>